button{
    padding-top: 5px;
    height: 3rem;
    width: 25vw;
    border-radius: 8px;
    font-size: 16px;
    background: linear-gradient(yellow, red);
    color: aliceblue;
    cursor: pointer;
}